@page
@model WebApplication1.Views.Student.IndexModel
@{
    int num1 = 20;
    int num2 = 20;

    int total = num1 + num2;
    int product = num1 * num2;
    int diff = num1 - num2;
    int quo = num1 / num2;
    int mod = num1 % num2;


    var name = "Louis Ivan Virgo";
    DateTime Birthday = DateTime.Parse("22/09/2002");
    DateTime Today= DateTime.Now; 
    var gender = "Male";
    var age = Today.Subtract(Birthday).Days / 365;
   
}



<h2>Welcome Student View <br /></h2>


<h2> I am @{if (gender == "Male")
        {
            <p> Mr.</p>
        }
        else{
            <p>Ms.</p>
        }
        } @name and I am @age yrs old. 
        <br />
        Gender: @gender 
        </h2>

<table class="table table-dark">
    <tr>
        <td>Sum</td>
        <td>@total</td>
    </tr>
    <tr>
        <td>Minus</td>
        <td>@diff</td>
    </tr>
    <tr>
        <td>Quotient</td>
        <td>@quo</td>
    </tr>
    <tr>
        <td>Product</td>
        <td>@product</td>
    </tr>
    <tr>
        <td>Modulus</td>
        <td>@mod</td>
    </tr>



</table>

